.scoreboard__matchInfo {
    padding: 4px 0;
    text-align: center;

    max-width: 95%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#603a97;


}


.scoreboard__matchInfo__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    color: #383838;

    
}

.scoreboard__matchInfo__date {
    font-size: 7px;
    line-height: 10px;
    color: #383838;
}

.scoreboard__matchInfo__date {
    border-right: 1px solid #383838;
    padding: 0 2px;
}

.scoreboard__matchInfo__location__img {
    padding-left: 2px;
    vertical-align: middle;
    /* padding-right: 5px; */
}

/* commentary__title */
.scoreboard__matchInfo__commentary__title {
    font-size: 21px;
    line-height: 25px;
    color: #603a97;
    font-weight: 700;
    /* text-decoration: underline; */

    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

/* break title */
/* 
.scoreboard__matchInfo__break__title{
    font-size: 15px;
line-height: 17px;
color: #383838;
font-weight: bold;
} */

.scoreboard__matchInfo__detailSection{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.scoreboard__matchInfo__address{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    max-width: 80%;
    /* max-width: 199px;
    margin: 0 auto;
    overflow: hidden;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.scoreboard__matchInfo__location {
    font-size: 7px;
    line-height: 10px;
    color: #383838;
    /* display: flex;
    justify-content: center;
    align-items: center; */

/* max-width: 160px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}